.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrap {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #dff386,
    rgb(170, 236, 108),
    #c1ec88
  ); /* 通常のグラデーションを定義 */
  background-size: 200% 200%; /* サイズを大きく引き伸ばす */
  animation: bggradient 20s ease infinite; /* アニメーションを追加 */
}

@keyframes bggradient {
  0% {
    background-position: 0% 0%; /* アニメーションの初期位置 */
  }
  50% {
    background-position: 100% 100%; /* アニメーションの中間位置 */
  }
  100% {
    background-position: 0% 0%; /* アニメーションの最終位置 */
  }
}


@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  background: radial-gradient(
    circle,
    rgb(91, 228, 57) 0%,  /* 緑色のトーンに変更 */
    rgb(97, 194, 108) 24%,
    rgb(91, 196, 81) 47%,
    rgb(133, 209, 123) 65%,
    rgb(98, 214, 104) 100%
  );
  color: #fff;
  -webkit-text-stroke: 0.6px #333;
  margin-top: 0;
}


.btn {
  width: 180px;
  height: 180px;
  transition: transform 0.3s ease;
}


.btn:hover {
  transform: rotate(-5deg);
  animation: shake 0.5s ease 3; /* ホバー時のアニメーションを追加 */
  transition: transform 0.5s ease ;
}


@keyframes shake {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-5deg);
  }
  40%, 80% {
    transform: rotate(5deg);
  }
}

.btn:active {
  box-shadow: none;
  transform: translateY(3px);
}

.in-wrap {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

@keyframes fontSizeAnimation {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    font-size: 60px;
  }
}

.kekka {
  margin-top: 30px auto;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  animation: fontSizeAnimation 0.5s ease-in-out;

}

.result-ultra-good {
  
  background: linear-gradient(
    90deg,
    #a38131 0%,
    #e7c76d 33%,
    #ffe6c5 62%,
    #e3c05d 83%,
    #9d874e 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    #a38131 0%,
    #e7c76d 33%,
    #ffe6c5 62%,
    #e3c05d 83%,
    #9d874e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px #333;
}

.result-ultra-bad {
  background: linear-gradient(
    90deg,
    #800080 0%,
    #8B008B 33%,
    #9932CC 62%,
    #9400D3 83%,
    #4B0082 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    #800080 0%,
    #8B008B 33%,
    #9932CC 62%,
    #9400D3 83%,
    #4B0082 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 0.8px #333;
}

.result-neutral {
  color: rgb(245, 224, 41);
  -webkit-text-stroke: 0.8px #333;
}

.kekka-wrap {
  height: 200px;
}

.list-wrap {
  margin: 0 auto;
  width: 250px;
  box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

ul {
  color: #333;
  border: double 5px rgb(88, 88, 88);
  background: #f1f8ff;
  padding: 8px;
  background: rgba(207, 240, 182, 0.986);
}

li {
  list-style: none;
  line-height: 1.3;
  width: 250px;
}

.list-rank {
  display: flex;
  gap: 50px;
}

.list-rank-x {
  gap: 93px;
}

.list-color {
  color: rgb(0, 0, 0);
  font-weight: bold;
}
